<!DOCTYPE html>
<html ng-app="CRMLJA">
  <head>
    <meta charset="utf-8">
    <title>Client 360 Page</title>
    <link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" href="assets/sheetrock.css"></link>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <!-- <script type="text/javascript" src="vendors/angular-route.js"></script> -->
    <script type="text/javascript" src="vendors/angular-animate.min.js"></script>
    <script type="text/javascript" src="vendors/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script type="text/javascript" src="vendors/angular-touch.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
  </head>
  <body>
    <div ng-include="'partials/navbar.html'"></div>

    <div ng-controller="searchPage">
      <div class="row">
        <div class="container">
          <div class="col-md-12">
            <h1>Administration Options</h1>
            <ul>
              <li><a href="/register">Register a New User</a></li>
              <li><a href="/createClient">Create a New Client</a></li>
            </ul>


          </div>
        </div>
      </div>
    </div>

</body>
</html>
