<!DOCTYPE html>
<html ng-app="CRMLJA">
  <head>
    <meta charset="utf-8">
    <title>Client 360 Page</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" href="assets/sheetrock.css"></link>
  </head>
  <body>
    <div ng-include="'partials/navbar.html'"></div>

    <br><br>

    <div ng-controller="caseNotes">
      <div class="row">
      <div class="container">
        <div class="col-md-6">
        <p><b>Client Information</b></p>
        <table width="100%"><p>
          <tr>
            <td>
            {{client.first_name}} {{client.last_name}}
            </td>
            <td>
              {{client.phone}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Client ID:</b> {{client.id}}
            </td>
            <td>
              {{client.email}}
            </td>
          </tr>
          <tr>
            <td><b>Claim Number:</b> {{client.claim_num}}</td>
              <td><b>Case ID:</b> {{caseMeta.id}}</td>
          </tr>
        </p></table>
      </div>
    </div>
  </div>

        <div class="row">
          <div class="container">
            <div class="col-md-12">
              <input id="notesTitle" type="text" readonly/>
              <textarea id="notesViewBox">
                {{currentNote}}
              </textarea>
            </div>
          </div>
        </div>




<br><br>

<div ng-include="'partials/footer.html'"></div>


</body>
</html>
