<!DOCTYPE html>
<html ng-app="CRMLJA">
  <head>
    <meta charset="utf-8">
    <title>Client 360 Page</title>
    <link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" href="assets/sheetrock.css"></link>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <!-- <script type="text/javascript" src="vendors/angular-route.js"></script> -->
    <script type="text/javascript" src="vendors/angular-animate.min.js"></script>
    <script type="text/javascript" src="vendors/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script type="text/javascript" src="vendors/angular-touch.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
  </head>
  <body>
    <div ng-include="'partials/navbar.html'"></div>

    <br><br>

    <div class="row">
      <div class="container">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li><a href="/case">Case</a></li>
            <li><a href="/caseNoteView">Case Notes</a></li>
            <li><a href="/caseAddNote">Add Note</a></li>
            <li class="active"><a href="/caseReassign">Reassign Case</a></li>
          </ul>
        </div>
      </div>
    </div>
<br>

<div ng-controller="reAssign">
      <div class="row">
      <div class="container">
        <div class="col-md-6">
        <p><b>Client Information</b></p>
        <table width="100%"><p>
          <tr>
            <td>
            {{client.first_name}} {{client.last_name}}
            </td>
            <td>
              {{client.phone}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Client ID:</b> {{client.id}}
            </td>
            <td>
              {{client.email}}
            </td>
          </tr>
          <tr>
            <td><b>Case ID:</b> {{caseMeta.id}} </p></td>
              <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

        <div class="row">
          <div class="container">
            <div class="col-md-12">
              <div class='container-fluid typeahead-demo' ng-controller="TypeaheadCtrl">

              <p><b>Reassign Case: </b></p>
              <p>Assign case to user: <input type="text" id="caseCrtMnText" ng-model="selected" uib-typeahead="person for person in usersBare | filter:$viewValue | limitTo:8"  placeholder="Assigned To"></p>

              <button type="submit" ng-click="caseReassign()">Submit</button>
              <div class='container-fluid typeahead-demo' ng-controller="TypeaheadCtrl">



            </div>
          </div>
        </div>
</div>






<br><br>

<div ng-include="'partials/footer.html'"></div>


</body>
</html>
