<!DOCTYPE html>
<html ng-app="CRMLJA">
  <head>
    <meta charset="utf-8">
    <title>Client 360 Page</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" href="assets/sheetrock.css"></link>
  </head>
  <body>
    <div ng-include="'partials/navbar.html'"></div>

    <br><br>

    <div class="row">
      <div class="container">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li><a href="/case">Case</a></li>
            <li><a href="/caseNoteView">Case Notes</a></li>
            <li class="active"><a href="/caseAddNote">Add Note</a></li>
          </ul>
        </div>
      </div>
    </div>
<br>

<div ng-controller="addNote">
      <div class="row">
      <div class="container">
        <div class="col-md-6">
        <p><b>Client Information</b></p>
        <table width="100%"><p>
          <tr>
            <td>
            {{client.first_name}} {{client.last_name}}
            </td>
            <td>
              {{client.phone}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Client ID:</b> {{client.id}}
            </td>
            <td>
              {{client.email}}
            </td>
          </tr>
          <tr>
            <td><b>Case ID:</b> {{caseMeta.id}} </p></td>
              <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

        <div class="row">
          <div class="container">
            <div class="col-md-12">
              <input ng-model="createNoteTitle" id="createNoteTitle" placeholder="Note Title" type="text"/>
              <textarea ng-model="addedNote" id="addNoteField">
              </textarea>

              <input ng-model="createNoteAuthor" id="createNoteAuthor" placeholder="Author" type="text",>

              <button type="submit" ng-click="noteSubmit()">Submit Note</button>

            </div>
          </div>
        </div>
</div>






<br><br>

<div ng-include="'partials/footer.html'"></div>


</body>
</html>
