<!DOCTYPE html>
<html ng-app="CRMLJA">
  <head>
    <meta charset="utf-8">
    <title>Client 360 Page</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" href="assets/sheetrock.css"></link>
  </head>
  <body>
    <div ng-include="'partials/navbar.html'"></div>

    <br><br>
<!--
    <div class="row">
      <div class="container">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active"><a href="/case">Case</a></li>
            <li><a href="/caseNoteView">Case Notes</a></li>
          </ul>n
        </div>
      </div>
    </div> -->
<br>
<div ng-controller="clientEdit">
      <div class="row">
      <div class="container">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li><a href="/360">Client 360 Page</a></li>
            <li class="active"><a href="/editClientInfo">Edit Client Info</a></li>
          </ul>
          <br>
        <h4><b>Client Information</b></h4>
        <br>
        <table>
          <tr>
            <td><b>First Name:</b></td><td width="300px"><input id="editField" type="text" ng-model="client.first_name"/></td>
          </tr>
          <tr>
            <td><b>Last Name:</b> </td><td><input id="editField" type="text" ng-model="client.last_name" /></td>
          </tr>
          <tr>
            <td><b>Address:</b> </td><td><input id="editField" type="text" ng-model="client.address"/></td>
          </tr>
          <tr>
            <td><b>Address (2):</b></td><td> <input id="editField" type="text" ng-model="client.address2"/></td>
          </tr>
          <tr>
            <td><b>City:</b></td><td><input id="editField" type="text" ng-model="client.city"/></td>
          </tr>
          <tr>
            <td><b>State:</b></td><td><input type="text" id="editField" ng-model="client.state"/></td>
          </tr>
          <tr>
            <td><b>Email:</b></td><td> <input type="text" id="editField" ng-model="client.email"/></td>
          </tr>
          <tr>
            <td><b>Phone:</b></td><td><input type="text" id="editField" ng-model="client.phone"/></td>
          </tr>
          <tr>
            <td><b>ID:</b></td><td><input type="text"  id="editField" ng-model="client.id" readonly/></td>
          </tr>
    </table>
      </div>
  </div>
</div>


<div class="row">
  <div class="container">
    <div class="col-md-12">

      <br><br>
      <button type="submit" ng-click="saveClientEdit()">Update Client Information</button>
      <br>
    </div>
  </div>
</div>


<div ng-include="'partials/footer.html'"></div>


</body>
</html>
