<!DOCTYPE html>
<html ng-app="CRMLJA">
  <head>
    <meta charset="utf-8">
    <title>Client 360 Page</title>
    <link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" href="assets/sheetrock.css"></link>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <!-- <script type="text/javascript" src="vendors/angular-route.js"></script> -->
    <script type="text/javascript" src="vendors/angular-animate.min.js"></script>
    <script type="text/javascript" src="vendors/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script type="text/javascript" src="vendors/angular-touch.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
  </head>
  <body>
    <div ng-include="'partials/navbar.html'"></div>

    <br><br>
<!--
    <div class="row">
      <div class="container">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active"><a href="/case">Case</a></li>
            <li><a href="/caseNoteView">Case Notes</a></li>
          </ul>
        </div>
      </div>
    </div> -->
<br>
<div ng-controller="insureEdit">
      <div class="row">
      <div class="container">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li><a href="/360">Client 360 Page</a></li>
            <li class="active"><a href="/insureEdit">Edit Insurer</a></li>
          </ul>
          <br>
        <h4><b>Provider Information</b></h4>
        <br>
        <table>
          <tr>
            <td><b>Provider Information:</b></td><td width="300px"><input id="insureField" type="text" ng-model="specificInsure[0].provider"/></td>
          </tr>
          <tr>
            <td><b>Provider Type:</b> </td><td><input id="insureField" type="text" ng-model="specificInsure[0].provider_type" /></td>
          </tr>
          <tr>
            <td><b>Clain Number:</b> </td><td><input id="insureField" type="text" ng-model="specificInsure[0].claim_number"/></td>
          </tr>
          <tr>
            <td><b>Contact First Name:</b></td><td> <input id="insureField" type="text" ng-model="specificInsure[0].first_name"/></td>
          </tr>
          <tr>
            <td><b>Contact Last Name:</b></td><td><input id="insureField" type="text" ng-model="specificInsure[0].last_name"/></td>
          </tr>
          <tr>
            <td><b>Phone:</b></td><td><input type="text" id="insureField" ng-model="specificInsure[0].phone"/></td>
          </tr>
          <tr>
            <td><b>Email:</b></td><td> <input type="text" id="insureField" ng-model="specificInsure[0].email"/></td>
          </tr>

    </table>



<br>
<b>Notes:</b>
<textarea ng-model="specificInsure[0].notes" id="insureNotesBox">
</textarea>




      </div>
  </div>
</div>


<div class="row">
  <div class="container">
    <div class="col-md-12">

<br>
      <table id="insureEditSpace">
        <tr>

  </table>

      <br>
      <button type="submit" ng-click="addInsurance()">Save Provider Information</button>
    </div>
  </div>
</div>


<div ng-include="'partials/footer.html'"></div>


</body>
</html>
