<!DOCTYPE html>
<html ng-app="CRMLJA">
  <head>
    <meta charset="utf-8">
    <title>Client 360 Page</title>
    <link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" href="assets/sheetrock.css"></link>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <!-- <script type="text/javascript" src="vendors/angular-route.js"></script> -->
    <script type="text/javascript" src="vendors/angular-animate.min.js"></script>
    <script type="text/javascript" src="vendors/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script type="text/javascript" src="vendors/angular-touch.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
  </head>
  <body>
    <div ng-include="'partials/navbar.html'"></div>

    <div ng-controller="searchPage">
      <div class="row">
        <div class="container">
          <div class="col-md-12">
            <h1>Welcome, {{username}}!</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="col-md-6">
            <h4>Client Search</h4>
            <input type="text" id="SearchHome" ng-model="clientId" placeholder="Enter a client ID"></input><br>
            <button type="submit" ng-click="searchClient()">Submit</button>
          </div>

          <div class="col-md-6">

            <h4>Cases Assigned to me:</h4>

            <table id="cases" >
                  <tr>
                    <td><b>Case ID:</b></td>
                    <td><b>Case Status:</b></td>
                    <td><b>Case Title:</b></td>
                    <td><b>Assigned To:</b></td>
                    <td><b>Created At:</b></td>
                  </tr>
                </table>

                <table id="cases"  ng-repeat= 'thing in cases'>
                  <tr>
                    <td>{{cases[$index].id}}</td>
                    <td>{{cases[$index].status | capitalize}}</td>
                    <td><a  ng-click="caseClick($index)" >{{cases[$index].title}}</a></td>
                    <td>{{cases[$index].assigned_to}}</td>
                    <td>{{cases[$index].last_modified}}
                  </tr>
                </table>



          </div>
        </div>
      </div>
    </div>








</body>
</html>
