<!DOCTYPE html>
<html ng-app="CRMLJA">
  <head>
    <meta charset="utf-8">
    <title>Client 360 Page</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" href="assets/sheetrock.css"></link>
  </head>
  <body>
    <div ng-include="'partials/navbar.html'"></div>

    <div ng-controller="searchPage">
      <div class="row">
        <div class="container">
          <div class="col-md-12">
            <h2>Client Search</h2>
            <input type="text" ng-model="clientId" placeholder="Enter a client ID"></input>
            <button type="submit" ng-click="searchClient()">Submit</button>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
