#360Header  {
 padding: 100px 100px 100px 100px;
 margin: 100px 100px 100px 100px;
}

#nav {
}

#nav ul{
  margin: 2% 10% 0 0;
}
#nav li{
  /*padding: 0 10% 10% 0;*/
  margin:0 0 20% 0;
  display:inline;
}

#nav li:hover{
  font-weight:bold;
}
#header {
  background-color: #7777FF;
  margin:20px 0 20px 0;
  padding:20px 0 25px 0;
}

#header a{
  color:black;
}

#header h2 {
  padding:0 0 0 8%;
}

/*#info {
  padding-left: 75px;
}*/
table#info{
  width:400px;
  }

table#cases  {
    float:right;
    width:700px;
    border:solid 2px;
    display:inline;
  }

table#cases  td {
    width:100px;
  }


table#cases  {
      width:500px;
      border:solid 2px;
    }

table#cases  td {
      width:100px;
    }

table#insure {
  /*display:inline-block;*/
  float:left;
}

table#caseNotes {
  border:2px solid;
  width:500px;
  table-layout:fixed;

}
#caseNotes th, td {
  padding:3px;
}

table#caseMeta {
  border:2px solid;
  table-layout:fixed;
  width:350px;
  height:250px;
  vertical-align:top;
  text-align:left;
  padding:0;
}

td, th#caseMeta{
  vertical-align:top;
}

#credits {
  text-align:center;
}

#notesViewBox {
  width:100%;
  height:200px;
}

#notesTitle {
  width:450px;
}


table#moreCaseNotes {
  border:2px solid;
  width:100%;
  table-layout:fixed;

}
